* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
}

body {
    font-family: 'Comfortaa', cursive;
    max-width: 2000px;
    margin: 0 auto;
    background-color: #eaeaea;
}

.header {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    background-color: #f8f8f8;
    padding: 25px;
}
.l{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    font-size: 44px;
    font-family: FZShuTi;
}

.logo2{
    color: firebrick;
}

.Hbox1{
    display: flex;
    align-items: center;
    border-bottom: 2px solid firebrick ;

}
.Hbox1:hover{
    color: firebrick;
}
.auth{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid firebrick ;
    width: 250px;
}

.Hbox2{
    display: flex;
    align-items: center;
    margin-right: 10px ;
}
.Hbox2:hover{
    color: firebrick;
}


.Hbox2:nth-child(2){
    color: black;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
}


.login-box {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background-color: #f8f8f8;
    box-sizing: border-box;
    box-shadow: 0 15px 25px firebrick;
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid firebrick;
    outline: none;
    background: transparent;
}
.login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: black;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: firebrick;
    font-size: 12px;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.login-box a:hover {
    background: firebrick;
    color: black;
    border-radius: 5px;
}

.login-box a span {
    position: absolute;
    display: block;
}

.login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, firebrick);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,100% {
        left: 100%;
    }
}

.login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, firebrick);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,100% {
        top: 100%;
    }
}

.login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, firebrick);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,100% {
        right: 100%;
    }
}

.login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, firebrick);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,100% {
        bottom: 100%;
    }
}



/*.footer{*/
/*    height: 250px;*/
/*    margin-top: 25px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    background-color: #f8f8f8;*/
/*    padding: 25px;*/
/*}*/

