* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
}

body {
    font-family: 'Comfortaa', cursive;
    max-width: 2000px;
    margin: 0 auto;
    background-color: #eaeaea;
}

.header2 {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    background-color: #f8f8f8;
    padding: 25px;
}

.l2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo2 {
    font-size: 44px;
    font-family: FZShuTi;
}

.logo4 {
    color: firebrick;
}

.Hbox3 {
    display: flex;
    align-items: center;
    border-bottom: 2px solid firebrick;
}

.app {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid firebrick;
    width: 350px;
}

.Hbox4 {
    display: flex;
    align-items: center;
    margin-right: 20px;
}


.Hbox4:hover {
    color: firebrick;
}

.nav2 {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    background-color: #f8f8f8;
    height: 1000px;
}

.title {
    margin-top: 15px;
}

.adds {
    display: flex;
    margin-top: 30px;
    width: 80%;
    border: 2px solid firebrick;
    border-radius: 50px;
    height: 200px;
}

.pic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

img {
    width: 80%;
    height: 80%;
}

.text {
    margin-left: 50px;
}

.name {
    margin-top: 10px;
    font-size: 24px;
}

.time {
    font-size: 18px;
    margin-top: 15px;
}

.description {
    display: flex;
    width: 95%;
    margin-top: 5px;
    font-size: 14px;
}

.condition {
    display: flex;
    margin-top: 1%;
    font-size: 16px;
}

.category {
    display: flex;
    margin-top: 1%;
}

.Done {
    color: green;
}

.Dev {
    color: #ffa200;
}

@media (max-width: 768px) {
    .header {
        margin-top: 25px;
        display: flex;
        justify-content: space-around;
        background-color: #f8f8f8;
        padding: 25px;
        font-size: 14px;
    }
    .Hbox1 {
        display: flex;
        align-items: center;
        border-bottom: 2px solid firebrick;
        margin-right: 20px;
    }

    .Hbox2 {
        display: flex;
        align-items: center;
        margin-left: 15px;
    }

    .logo {
        font-size: 24px;
        font-family: FZShuTi;
    }
    .adds{
        display: flex;
        margin-top: 30px;
        width: 90%;
        border: 2px solid firebrick;
        border-radius:50px ;

    }
    .pic{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
    }
    img{
        width: 100%;
        height: 90%;
        border-radius: 100px;
    }
    .text{
        margin-right: 120px;
    }
    .name {
        margin-top: 10px;
        font-size: 16px;
    }
    .time{
        font-size: 14px;
    }
    .condition{
        margin-top: 1%;
        font-size: 12px;
    }

    .description {
        display: flex;
        width: 100%;
        margin-top: 5px;
        font-size: 15px;
    }

}

/*.footer{*/
/*    height: 250px;*/
/*    margin-top: 25px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    background-color: #f8f8f8;*/
/*    padding: 25px;*/
/*}*/

